*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
div{
    width: 150px;
    height: 150px;
    background-color: rgb(208, 130, 28);
}
h1{
    font-size: 32px;
    color: antiquewhite;
}